body {
    background-image:url('../images/wood_pattern.png');
    background-repeat: repeat;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin: 0;
}

#headerArea {
    background-color: #ffffff;
    border-bottom: 2px solid #dddddd;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
}

#myName {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 200px;
    padding: 7px;
    display: inline-block;
    left: 15%;
    position: relative;
}

#navContainer {
    float: right;
    height: 92.88px;
    vertical-align: middle;
    margin-right: 5%;
}

#navigation {
    display: inline-block;
    margin-top: 42px;
    margin-right: 20px;
}

.pipeSigns {
    color: #d1d1d1;
}

a:link {
    text-decoration: none;
    /* Removal of underline on the three links */
}

a:visited {
    color: #777777;
    /* Removal of purple color when a link was visited, matching the regular color */
}

a:hover{
    color: #4aaaa5;
    /* Matching color change when a link is hovered over */
}

h1, h2 {
    font-family: 'Georgia', Times, "Times New Roman", serif;
}

#mainBody {
    top: 100px;
    width: 960px;
    left: 15%;
    margin-bottom: 120px;
    position: relative;
    background-color: #ffffff;
    padding: 30px;
}

#mainBodyTitle {
    margin: 0 auto;
    width: 90%;
    color: #4aaaa5;
    position: relative;
    border-bottom: 2px solid #dddddd;
}

#mainBodyContent {
    margin: 0 auto;
    padding: 20px;
    width: auto;
    text-align: justify;
    position: relative;
}

#profilePhoto {
    width: 180px;
    float: left;
    margin: 10px;
}

#aboutMeText {
    margin: 10px;
}

input[type=submit] {
    border: 0;
    padding: 10px 30px;
    background: #4aaaa5;
    color: #ffffff;
    transition: background-color 0.5s ease;
    /* gradual transition in color when the submit button is hovered over */
}

input[type=submit]:hover{
    background-color: #008B8B;
    /* the button becomes a darker shade of teal when the user hovers their mouse */
}

table {
    margin: 10px auto;
    border-spacing: 20px;
}

.imageContainer {
    position: relative;
    padding: 0px;
    /* made a div for each box to contain the image and its corresponding banner */
}

a.imageContainer {
    display: block;
}

.imageBanner {
    float: left;
    position: absolute;
    left: 0px;
    top: 60%;
    /* these attributes put the banner over the image container with 60% space from the top */
    z-index: 2;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    color: #ffffff;
    padding: 0px;
    width: 100%;
    height: 20%;
    text-align: center;
    padding-top: 10px;
    transition: background-color 0.5s ease;
    /* like the submit button from contact.html, the banner's color gradually changes on hover */
}

.imageBanner:hover {
    background-color: #008B8B;
    /* darker shade of teal on hover */
}

#contactForm {
    margin: 0 auto;
    padding: 20px;
    width: 95%;
    position: relative;
    left: 5%;
}

#footerArea {
    background-color: #666666;
    position: fixed;
    left: 0;
    height: 80px;
    width: 100%;
    bottom: 0;
    /* fixed position on body and 0 space from bottom to simulate a sticky footer */
    border-top: 5px solid #4aaaa5;
    z-index: 3;
}

#cryptoplayImg {
    width: 95%;
    display: block;
    margin: 0 auto;
}

#cryptoplayContainer {
    width: 200px;
    height: 150px;
    background-image:url('../images/what-the-hex-dark.png');
    background-repeat: repeat;
}

@media only screen and (max-width: 980px) {

    #mainBody {
        width: 80%;
        left: 0;
        margin: auto;
    }

}

@media only screen and (max-width: 768px) {

    input[type=text] {
        width: 80%;
    }

    textarea {
        width: 80%;
    }

    #mainBody {
        width: 85%;
    }
    /* the size of the mainBody div scales with the size of the viewport after the 768px breakpoint */

}

@media only screen and (max-width: 640px) {

    #mainBody {
        margin-top: 60px;
    }

    #myName {
        width: 100%;
        left: 0%;
        text-align: center;
    }

    #navContainer {
        margin: auto;
        width: 100%;
        text-align: center;
        height: 50px;
    }
    /* setting the widths of the two divs in the header allows them to be stacked on top of each other */

    #navigation {
        margin-top: 18px;
    }

    #profilePhoto {
        max-width: 70%;
        float: none;
        margin: 0 auto;
        margin-left: 20%;
    }
    /* the width of the photo scales with the size of the viewport and loses its float to stack on top of the text */

    td {
        display: table-row;
    }

    table {
        border-spacing: 0;
    }

    .imageContainer {
        margin: 10px;
    }
    /* These table configurations allow for the table to table to collapse into one column on mobile screens */
}